
Project 1 Data Modeling with Postgres/.ipynb_checkpoints/etl-checkpoint.ipynb
Project 1 Data Modeling with Postgres/.ipynb_checkpoints/test-checkpoint.ipynb
Project 1 Data Modeling with Postgres/.ipynb_checkpoints/Call_to_etl.py-checkpoint.ipynb
Project 1 Data Modeling with Postgres/__pycache__/sql_queries.cpython-36.pyc
Project 2 Data Modeling with Cassandra/.ipynb_checkpoints/Project_1B_ Project_Template-checkpoint.ipynb
Project 2 Data Modeling with Cassandra/.ipynb_checkpoints/Lesson 3 Exercise 2 Primary Key-checkpoint.ipynb
Project 2 Data Modeling with Cassandra/.ipynb_checkpoints/Lesson 3 Exercise 4 Using the WHERE Clause-checkpoint.ipynb
